<!DOCTYPE html>
<html>
    <head>Baadal's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Baadal's Blog</a></h1>
        </header>

        <article>
            <time>published: 10.08.2021, 9:52 PM</time>
            <h2><a href="">My first post</a></h2>
            <p> this is my first post</p>
        </article>

        <article>
            <time>published: 10.08.2021, 9:52 PM</time>
            <h2><a href="">My second post</a></h2>
            <p>this is my second post</p>
        </article>
    </body>
</html>